__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.env
.venv/
.envrc
.DS_Store
dist/
build/
.eggs/
*.egg-info/
.mypy_cache/
.pytype/
pytest_cache/
.coverage
htmlcov/
.cache/
.ipynb_checkpoints/

/test_data
/case_studies_data
/logs
/product_spec_docs
/notebooks/outputs
/emit-ghg-main
diff.txt

/output


*.tiff
*.zip
