__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.env
.venv/
.envrc
.DS_Store
dist/
build/
.eggs/
*.egg-info/
.mypy_cache/
.pytype/
pytest_cache/
.coverage
htmlcov/
.cache/
.ipynb_checkpoints/

/test_data
/case_studies_data
/logs
/product_spec_docs
/notebooks/outputs
/notebooks/outputs_cal_scenes
/notebooks/outputs_turk_scenes
/notebooks/figures
/emit-ghg-main
/CO2_integration_material_info
/off_shore_applications_data
diff.txt

/output
/outputs

/notebooks/to_rev

*.tiff
*.zip
